DATABASE_URL="postgresql://postgres:postgres@localhost:5432/jasm_tine"
PORT=3000
FRONTEND_ORIGIN="http://localhost:4200"
DEFAULT_USER_FIRST_NAME="Jasmine"
DEFAULT_USER_LAST_NAME="Valentine"
DEFAULT_USER_EMAIL="hello@jasminetine.co"
DEFAULT_USER_TIMEZONE="Asia/Manila"
